<body>
  <div>
    <section class="container">
      <h1>Fast Notes</h1>
      <p>Your notes as fast as an entrance to pits</p>
      <svg width="464px" height="445px">
        <circle cx="95" cy="91" r="300" fill="#00A19B" stroke="none"/>
      </svg>
      <section class="container-register">
        <div id="ovalo"></div>
        <form class="form-register" [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <h2>Create account</h2>
            <!-- <input class="form-control" type="text" formControlName="name" placeholder="     Ingresa tu nombre" id="name"> -->
            <input class="form-control" type="email" formControlName="email" placeholder="     Ingresa un correo válido" id="email">
            <input class="form-control" type="password" formControlName="password" placeholder="     Crea una Contraseña" id="password">
            <h3>Register</h3>
            <button class="btn-register" type="submit"><i class="fas fa-angle-double-right"></i></button>
            <p class="text-login">
              You have account?
               <a [routerLink]="['/login']">LogIn</a>
            </p>
        </form>

        <svg width="221px" height="233px" class="ellipse-2">
          <circle cx="154" cy="579" r="100" fill="#00A19B" stroke="none"/>
       </svg>


      </section>
    </section>
  </div>
</body>
