body {
  background-color: black;
  position: absolute;
  width: 1366px;
  height: 1024px;
  left: 0px;
  top: 0px;
}
h1 {
  color: rgba(255, 255, 255, 0.94);
  position: absolute;
  width: 485px;
  height: 150px;
  left: 71px;
  top: 390px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 104px;
  line-height: 150px;

}
p {
  position: absolute;
  width: 559px;
  height: 150px;
  left: 71px;
  top: 526px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 150px;
  color: rgba(255, 255, 255, 0.94);
}
.btn-begin {
  position: absolute;
  width: 303px;
  height: 60px;
  left: 199px;
  top: 692px;
  font-size: 28px;
  line-height: 34px;
  box-shadow: 0 3px 3px 3px rgba(90,116,148,0.3);
  background: #3B5998;
  border-radius: 20px
}


