<body>
  <div>
    <section class="container">

      <h1>Fast Notes</h1>
      <p>Your notes as fast as an entrance to pits</p>
      <svg width="464px" height="445px">
        <circle cx="95" cy="91" r="300" fill="#00A19B" stroke="none"/>
      </svg>
      <button class="btn-begin" routerLink="/home" >Go!!!</button>

      <section class="side-content">
        <div>
          <img class="image-cover" src="/quick-notes/src/img/pits2.jpg" alt="">
        </div>
      </section>
    </section>
  </div>
</body>

