body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
h2{
  color: azure;
  font-family: lato;
}
.btn-back{
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
.btn-back:hover {
  background-color: #cfd8dc;
}
.btn-add{
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
.btn-add:hover {
  background-color: #cfd8dc;
}
#title-note{
  font-size: 1em;
  padding: .8rem;
  width: auto;
}
#description-note{
  font-size: 1em;
  padding: .8rem;
}
