/* NotesComponent's private CSS styles */
body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}


.page {
  position: relative;
  height: 100vh;
  width: 100%;
}
.container {
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas: "nav     aside"
                       "section aside"
                       "footer  aside";

  height: 100%;
  width: 100%;
}
.navbar {
  background: var(--green);
  grid-area: nav;
  display: flex;
}
.navbar_content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 80px;

  animation: 2s navbar 0.5s ease-in-out;
}
@keyframes navbar {
  0% {
      transform: translateY(-200px);
  }
  100% {
      transform: translateY(0px);
  }
}
.navbar_content h1{
  /* font-size: 20px;
  font-weight: 700;
  margin: -0 0 28px 0; */
  color: aliceblue;
}
.navbar_content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0%;
  width: 450px;
  color: aliceblue;
}
.navbar_content ul li a {
  color: var(--black);
  font-weight: 400;
  text-decoration: none;
  color: aliceblue;
}




.main-content {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;

  animation: 2s main-content 0.5s ease-in-out;
}
.main-content p:first-child {
  font-size: 36px;
  font-weight: 300;
  margin: -0 0 -14px 44px;
  color: aliceblue
}
.main-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin: -0 0 28px 0;
  color: aliceblue;
}
/* @keyframes main-content {
  0% {
      transform: translateY(-600px);
  }
  100% {
      transform: translateY(0px);
  }
} */
h2{
  color: antiquewhite;
}
.btn-add {
  background: #00a19b;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 7px;
  padding: 10px 0;
  text-align: center;
  width: 250px;
  text-decoration: none;
  box-shadow: 0px 3px 0 grey;
  cursor: pointer;
  border-radius: 50px;
}
.notas {
  font-family: Lato;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 30em;
}
.notas li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.notas li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.notas li.selected {
  background-color: black;
  color: white;
}
.notas li.selected:hover {
  background-color: #505050;
  color: white;
}
.notas li.selected:active {
  background-color: black;
  color: white;
}
.notas .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#00a19b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: .5rem;
}

.btn-delete{
  position: relative;
  box-shadow: 0px 2px 2px grey;
}
/* .btn-back{
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
} */



.side-content p {
  transform: rotate(-90deg);
  font-size: 36px;

  grid-row: 1 / 2;
  grid-column: 2 / 2;

  opacity: 0;

  animation-name: side-content-text;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes side-content-text {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
.side-content img {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 1 / 6;

  animation: 2s side-content-img 0.5s ease-in-out;
}
@keyframes side-content-img {
  0% {
      transform: translateX(600px);
  }
  100% {
      transform: translateX(0px);
  }
}
.side-content div {
  background: var(--red);

  grid-column: 4 / 7;
  grid-row: 1 / 6;

  height: 100%;

}


